@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

.animated-dot {
    animation: showHideDot 2.5s ease-in-out infinite;
}
.dot-one {
    animation-delay: 0,2s;
}
.dot-two {
    animation-delay: 0.4s;
}
.dot-three {
    animation-delay: 0.6s;
}.dot-four {
    animation-delay: 0.8s;
}
.dot-five {
    animation-delay: 1s;
}