input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    padding: 15px;
}

.spread-content {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
  
.select-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-cloud {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.selectable-item {
    padding: 10px;
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.3);
}

.selectable-item:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.1s ease-in-out;
}

.selectable-item-cloud {
    flex: 1 auto;
    text-align: center;
}

.selected-item, .selected-item:hover {
    background-color: teal;
    color: white;
}

.disabled-item-cloud, .disabled-item-cloud:hover {
    color:rgba(1, 1, 1, 0.3);
    background-color: transparent;
}